<ul class="bxslider">
  <li>
    <%= image_tag "a.jpg" %>
  </li>
  <li>
    <%= image_tag "b.jpg" %>
  </li>
  <li>
    <%= image_tag "c.jpg" %>
  </li>
  <li>
    <%= image_tag "d.jpg" %>
  </li>
  <li>
    <%= image_tag "e.jpg" %>
  </li>
</ul>

<script>
  $(document).ready(function() {
    $('.bxslider').bxSlider();
  });
</script>